<div class="row">
  <div class="col-md-6 col-md-offset-3" align="center">

		<h1>Welcome!</h1>
		<p>Wanna know a bit about life the universe and everything ?</p>

		<br>
		<img src="http://cdn1-www.gamerevolution.com/assets/uploads/2016/08/file_12796_hitchhiker-guide.jpg" height= "150" width= "auto" />
		<br>


		<p>Please click on the link to <%= link_to "THE answer", 'static_pages/secret_page' %></p>

	</div>
</div>
